<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
  </head>
  <body>
      Listing <%= link_to @listing.street_address, listing_url(@lisitng, host: 'mighty-castle-9932.herokuapp.com') %> status has been changed.
  </body>
</html>