<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
  </head>
  <body>
    Listing <%= link_to @listing.full_address, listing_url(@listing.id, host: 'mighty-castle-9932.herokuapp.com') %> status has been changed.
    <p>Old value: <b><%= @old_status %></b>
    <p>New value: <b><%= @new_status %></b>
  </body>
</html>