<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
Listing <%= link_to @listing.full_address, listing_url(@listing.id, host: 'mighty-castle-9932.herokuapp.com') %> has been created.<br>
Unit no: <%= @listing.unit_no %><br>
Price: <%= number_to_currency(@listing.price) %><br>
Bedrooms: <%= @listing.bed.name %>
</body>
</html>