<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% first_slide = true %>
    <% @photo_urls.each do |photo| %>
      <li data-target="#carousel-example-generic" data-slide-to="0"<%= ' class="active"' if first_slide %> ></li>
      <% first_slide = false %>   
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  <% first_slide = true %>
  <% @photo_urls.each do |photo| %>      
      <div class="item<%= ' active' if first_slide %>">
        <%= cl_image_tag(photo.photo_url) %>
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <% first_slide = false %>   
    <% end %>        
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>