
<div class="stage">
  <div class="carousel carousel-stage">
    <ul>
      <% @listing.property_photos.each do |photo| %>
          <li style="position:relative"><%= image_tag(photo.photo_url_url) %><% if @listing.property_floorplans.count > 0 %><a class="floorplan" href="javascript:void(0)" style="display: inline;position: absolute;color: black;background-color: #ffffffb3;z-index: 9999999;bottom: 15px;right: 40px;padding: 3px;border-radius: 3px;font-weight: bold;">Floorplans</a><% end %></li>

      <% end %>
      <% @listing.property_floorplans.each do |photo| %>
        <li><%= image_tag(photo.floorplan_url_url) %></li>
      <% end %>
    </ul>
  </div>

  <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
  <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
</div>

<div class="navigation">
  <a href="#" class="prev prev-navigation">&lsaquo;</a>
  <a href="#" class="next next-navigation">&rsaquo;</a>
  <div class="carousel carousel-navigation">
    <ul>
      <% @listing.property_photos.each do |photo| %>
        <li><%= image_tag(photo.photo_url_url(:thumb), width: 50, :height => 50) %></li>
      <% end %>
      <% @listing.property_floorplans.each do |photo| %>
        <li class="floorplan_thumb"><a href="#"><img src="//cdn-assets-s3.streeteasy.com/assets/icons/floorplan-59b645d2c000abd2fe938f1b23f05e3ced832ac6d2bf27cdc6d560710494b786.png" style="width:50px;height:50px"></a></li>
      <% end %>
    </ul>
  </div>
</div>
