<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-sm-4">    
    <section>
    	<%= image_tag(@user.avatar_url) %>    	
    </section>
    <section class="name">
    	<ul>
      <li><%= @user.name %></li>
      <li><%= @user.email %></li>
      </ul>
    </section>
  </aside>
  <div class="col-sm-8">
    
  </div>
</div>