// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h3.address{
	font-family:'PT Sans',Helvetica,Arial,sans-serif;
	color:#333;
	font-size:24px;
	font-weight:200;
	line-height:1.23em;
	letter-spacing:0;
	margin-bottom:10px;
	display:block
}

h4.price{
	color: #333;
	font-size: 18px;
	font-weight: 200;
	line-height: 1.23em;
	letter-spacing: 1px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.photo{
	float: left;
}

.info{
	float: left;
	padding-left: 5px;
}

.listing{
	overflow: hidden;
}

.property-description{
	font-family: georgia,"times new roman",times,serif;
	font-size: 16px;
	line-height: 1.4em;
	letter-spacing: -.05em;
	word-spacing: .3em;
	color: #666;
}