<footer class="footer">
  <div class="container">
    <small>
      Horowitz Real Estate    
      <%= link_to 'by elCorsaiR', 'https://www.elance.com/s/elcorsair' %>
    </small> 
     
    <%= debug(params) if Rails.env.development? %>
  </div>
</footer>